/**
    EXPLICATIONS : 

    defaults            Contient les éléments constituant le design (importer 'all' pour tous les importer d'un coup)
                        Créer un nouveau dossier avec le nom du theme s'il est nécessaire de modifier une partie du design par rapport au thème de base.
    
    modules             Contient les variables, mixins et autre modifiers (importer 'all' pour tous importer sauf les varibales)
        variables       Contient les variables propres à chaque thème (importer celles qui conviennent)

    themes              Contient les fichiers CSS une fois compilé. C'est ici qu'on importe ce dont on a besoin.
*/

@import "../modules/variables/default";
@import "../modules/variables/debug";
@import "../modules/all";
@import "../defaults/all";