/*
---------
VARIABLE
---------
*/

// Fonts Family

$textfont1: 'Roboto' monospace;
$textfont1-2: 'Roboto', sans-serif;
$textfont1-3: 'Roboto Mono', monospace;
$textfont2: 'Knewave';
$textfont3: 'Source Code Pro';
$textfont4: 'Amatic SC'; 
$textfont5: 'verdana';


// Background Fog Colors

$backgroundColor1: rgb(120, 205, 211);
$backgroundColor2: rgb(63, 193, 197);
$backgroundColor3: #3ae5fc;
$backgroundColor4: #57d8d2;
$backgroundColor5: #43ffe6;
$backgroundColor6: rgb(28, 152, 168); 
$backgroundColor7: rgb(26, 236, 243);


// Fonts Color

// Interface

$DorothyInterface: rgb(255, 255, 255); // Dorothy Interface text color
$DateTime: white; // Couleur Date et Heure

// Terminal

$DorothyAnswer: rgb(255, 255, 255); // Terminal - Dorothy answer
$UserInput: #ffdcb4; // Terminal - Dorothy welcome message && User input


// About Modal

$ModalColor: white; // About - Dorothy Version
$LinkAbout: white; // About - Link

// Ball Menu

$FirstColorBall: rgb(251, 255, 0);
$SecondColorBall: rgb(255, 238, 0);
$FirstColorBallHover: rgb(116, 93, 0);
$SecondColorBallHover: rgb(242, 255, 0);

$BallItem: rgba(255, 220, 19, 0.747);
$BallItemHover: lightgrey;
$BallItemBorder: rgb(84, 201, 255);
$BallItemInside: white;
$BallCalendar: lightgrey;

/*MIXINS*/

//exemple :

// @mixin nomdelafonction ($param1, $param2) {
//     color: $param1;
//     background-color: $param2;
// }

// @include nomdelafonction ("red","blue");

// Y'a certainement du code qui se répète et les mixins peuvents rendre ça bcp plus propre/modulable


/*
-----------------------------------------------
KEYFRAMES FOR CURSOR ANIMATION
-----------------------------------------------
*/

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
-----------------------------------------------
MEDIA QUERIES
-----------------------------------------------
*/

@media only screen and (max-width: 700px) {
    /* make welcome message on login page smaller */
    #login-interface .welcome {
        font-size: 1.6rem;
    }
    /* make width of welcome message bigger */
    .welcome-message-style {
        width: 80%;
    }
    /* make width of terminal bigger and font-size a bit smaller */
    .terminal {
        width: 90%;
        font-size: 0.9rem;
    }
    /* make width of modal bigger and height a bit smaller */
    #profilePage {
        width: 90%;
        height: 70%;
    }
    /**/
    .modal-body-2 {
        padding: 0 20px;
    }
    /* reduce input text font-size */
    .profile-input-wrapper input[type=text] {
        font-size: 0.8rem;
    }
    /* reduce label text font-size */
    .profile-input-wrapper label {
        font-size: 0.8rem;
    }
    /* make width of info modal bigger and padding right/left smaller */
    #infoPage {
        width: 60%;
        padding: 2rem 0.6rem;
    }
    /* make title in info modal bigger */
    .modal-info-title {
        font-size: 1.5rem;
    }
    /* hide date and time */
    .os-bar__date-time {
        display: none;
    }
    /**/
}