/*
---------
VARIABLE
---------
*/

// Fonts Family

// $fontRoboto: 'Roboto' monospace;
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoMono: 'Roboto Mono', monospace;
// $fontKnewave: 'Knewave';
$textfont3: 'Source Code Pro';
$textfont4: 'Amatic SC'; 
$textfont5: 'verdana';

// Background Fog Colors

$backgroundColor1: #978EFF;
$backgroundColor2: #63A9FF;
$backgroundColor3: #667cbe;
$backgroundColor4: #d47fa5;
$backgroundColor5: #b97cbf;
$backgroundColor6: #7F49DD;
$backgroundColor7: #978EFF;


// Fonts Color

// Interface

$DorothyInterface: rgb(93, 192, 209); // Dorothy Interface text color
$DateTime: white; // Couleur Date et Heure

// Terminal

$DorothyAnswer: rgb(0, 242, 255); // Terminal - Dorothy answer
$UserInput: #bb7dca; // Terminal - Dorothy welcome message && User input


// About Modal

$ModalColor: white; // About - Dorothy Version
$LinkAbout: white; // About - Link





// Ball Menu

$FirstColorBall: rgb(255, 255, 255); // Ball Menu - Background
$SecondColorBall: rgb(161, 255, 243); // Ball Menu - Halo
$FirstColorBallHover: rgba(233, 122, 255, 0.611); // Ball Menu - Left Side Hover
$SecondColorBallHover: rgb(0, 0, 0); // Ball Menu - Halo Hover

$BallItem: rgba(111, 255, 236, 0.12); // Ball Menu - Icones Periph
$BallItemHover: lightgrey;
$BallItemBorder: rgb(84, 201, 255);
$BallItemInside: white;
$BallCalendar: lightgrey;

/*MIXINS*/ 


@mixin fontStyle ($color, $size, $familly) { 
    color: $color;
    font-size: $size;
    font-family: $familly;
}

//exemple
// @include nomdelafonction ("red","15px",$textfont1); 

/*
-----------------------------------------------
KEYFRAMES FOR CURSOR ANIMATION
-----------------------------------------------
*/

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
-----------------------------------------------
MEDIA QUERIES
-----------------------------------------------
*/

@media only screen and (max-width: 700px) {
    /* make welcome message on login page smaller */
    #login-interface .welcome {
        font-size: 1.6rem;
    }
    /* make width of welcome message bigger */
    .welcome-message-style {
        width: 80%;
    }
    /* make width of terminal bigger and font-size a bit smaller */
    .terminal {
        width: 90%;
        font-size: 0.9rem;
    }
    /* make width of modal bigger and height a bit smaller */
    #profilePage {
        width: 90%;
        height: 70%;
    }
    /**/
    .modal-body-2 {
        padding: 0 20px;
    }
    /* reduce input text font-size */
    .profile-input-wrapper input[type=text] {
        font-size: 0.8rem;
    }
    /* reduce label text font-size */
    .profile-input-wrapper label {
        font-size: 0.8rem;
    }
    /* make width of info modal bigger and padding right/left smaller */
    #infoPage {
        width: 60%;
        padding: 2rem 0.6rem;
    }
    /* make title in info modal bigger */
    .modal-info-title {
        font-size: 1.5rem;
    }
    /* hide date and time */
    .os-bar__date-time {
        display: none;
    }
    /**/
}