/*
---------
VARIABLE
---------
*/

// Fonts Family

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoMono: 'Roboto Mono', monospace;
$fontVerdana: 'verdana';

// Background Fog Colors && First Color Charte

$backgroundColor1: #978EFF; // <== base color / ref color
$backgroundColor2: #63A9FF;
$backgroundColor3: #667cbe;
$backgroundColor4: #d47fa5;
$backgroundColor5: #b97cbf;
$backgroundColor6: #7F49DD;

$bodyColor: rgba(255, 255, 255, 1);




// Interface

$fontColorDateTime: rgba(255, 255, 255, 0.9); // date font color
$fontColorMenuTheme: white;

$colorWelcomeMessage: $bodyColor;
$colorWelacomeMessageHover: lightgrey;

// Terminal

$fontColorDorothyAnswer: #81ffff; // Terminal - Dorothy answer // 


// Modal

$fontColorModal: white; //global font color for modal

$fontColorModalCreators: lightgray; 
$borderStyleModal: 2px solid white; //used behind "save" button
$logoutButtonHover: #e17474;
$colorBoxShadowModal: #0D1321;


// Ball Menu

$colorBall1: #8ee7db; 
$colorBall2: #abddff; 
$colorBallHover1: #a69df0; 
$collorBallHover2: #6896b5; 

$backgroundBallItem: rgba(255, 255, 255, 0.12); // Ball Menu - Icones Periph 
$backgroundBallItemHover: #645ea0;
$borderColorBallItem: white;
$colorLogoBallItem: white;
$unavailableBallCalendar: lightgrey;

/*MIXINS*/ 


@mixin fontStyle ($color, $size, $familly) { 
    color: $color;
    font-size: $size;
    font-family: $familly;
}

//exemple
// @include fontStyle ($fontColorModal,2em,$fontRoboto); 


/*
-----------------------------------------------
KEYFRAMES FOR CURSOR ANIMATION
-----------------------------------------------
*/

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
-----------------------------------------------
MEDIA QUERIES
-----------------------------------------------
*/

@media only screen and (max-width: 700px) {
    /* make welcome message on login page smaller */
    #login-interface .welcome {
        font-size: 1.6rem;
    }
    /* make width of welcome message bigger */
    .welcome-message-style {
        width: 80%;
    }
    /* make width of terminal bigger and font-size a bit smaller */
    .terminal {
        width: 90%;
        font-size: 0.9rem;
    }
    /* make width of modal bigger and height a bit smaller */
    #profilePage {
        width: 90%;
        height: 70%;
    }
    /**/
    .modal-body-2 {
        padding: 0 20px;
    }
    /* reduce input text font-size */
    .profile-input-wrapper input[type=text] {
        font-size: 0.8rem;
    }
    /* reduce label text font-size */
    .profile-input-wrapper label {
        font-size: 0.8rem;
    }
    /* make width of info modal bigger and padding right/left smaller */
    #infoPage {
        width: 60%;
        padding: 2rem 0.6rem;
    }
    /* make title in info modal bigger */
    .modal-info-title {
        font-size: 1.5rem;
    }
    /* hide date and time */
    .os-bar__date-time {
        display: none;
    }
    /**/
}