/*
-----------------------------------------------
MODALS (WINDOWS POPPING UP FROM TOP, RIGHT AND LEFT)
-----------------------------------------------
*/

/* -------- Action message pop-up/modal (top right) -------- */

.messageModal {
    max-width: 300px;
    position: absolute;
    top: 90px;
    right: 30px;
    opacity: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -1px 1px 120px -10px white;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 15;
}

.messageModalClose {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: white;*/
    -webkit-animation: bgColorAnim 300s infinite;
    animation: bgColorAnim 300s infinite;
    z-index: 16;
    transition: opacity ease 0.3s;
}

.messageModalClose p {
    cursor: pointer;
    color: white;
    /*color: #232323;*/
}

.messageModal:hover .messageModalClose {
    opacity: 1;
}

.messageModalText {
    color: #232323;
    margin: 0;
}

/* -------- Long answer modal coming from the right -------- */

#answerTemplate {
    width: 90%;
    height: 80%;
    position: fixed;
    /*padding-right: 40px;*/
    padding: 25px 40px 10px 0;
    top: 50%;
    /*right: -20px;*/
    right: -120%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /*background-color: rgba(38, 38, 38, 0.78);*/
    /*background-color: #5b55a2;*/
    -webkit-animation: bgColorAnim 300s infinite;
    animation: bgColorAnim 300s infinite;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 80px -20px #0D1321;
    transition: right ease 0.5s;
    z-index: 12;
}

.modal-body-block-table {
    width: 100%;
}

/* -------- Profile modal coming from the top -------- */
#profilePage {
    /* PROFILE */
    /*width: 90%;*/
    /*height: 80%;*/
    width: 65%;
    /* MIKEY */
    max-width: 800px;
    height: 80%;
    /* MIKEY */
    position: fixed;
    overflow: hidden;
    /* hides close button (up arrow) for animation */
    /*padding: 25px 40px 10px 0;*/
    /* TOGGLE */
    top: -120%;
    /* hides the profile modal */
    /*top: 0;*/
    /* shows the profile modal */
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*background-color: white;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 120px -30px #0D1321;
    transition: top ease 0.3s;
    z-index: 12;
    -webkit-animation: bgColorAnim 300s infinite;
    animation: bgColorAnim 300s infinite;
}

/* -------- Common styles for modals -------- */

.modal-container {
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
}

.modal-container-2 {
    /* PROFILE */
    display: flex;
    flex-direction: column;
    color: #232323;
}

.modal-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100%;
    width: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-header-2 {
    /* PROFILE */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*left: 0;*/
    height: 30px;
    width: 100%;
    bottom: 0;
    /*height: 100%;*/
    /*width: 30px;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-header .modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 30px;
    /*height: 50px;*/
    /*width: 6px;*/
    /*background-color: white;*/
    border-radius: 50px;
    cursor: pointer;
}

.modal-header .modal-close-btn i {
    font-size: 4rem;
    color: white;
}

.modal-header-2 .modal-close-btn-2 {
    /* PROFILE */
    position: relative;
    top: 60px;
    /* hide close button (up arrow) for animation */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    /*height: 6px;*/
    /*width: 50px;*/
    /*background-color: #232323;*/
    /*background-color: #fff;*/
    border-radius: 50px;
    cursor: pointer;
}

.modal-header-2 .modal-close-btn-2 i {
    font-size: 4rem;
    color: white;
}

.modal-body {
    position: fixed;
    /*right: 60px;*/
    width: 90%;
    height: 90%;
    margin-left: 50px;
    overflow: auto;
    /*background-color: #57759f9e;*/
}

.modal-body-2 {
    /* PROFILE */
    position: fixed;
    height: 90%;
    width: 80%;
    max-width: 28rem;
    /*top: 30%;*/
    left: 50%;
    /*transform: translate(-50%, -30%);*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: auto;
    /*background-color: #57759f9e;*/
}

.modal-body-title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.modal-body-block {
    width: 90%;
}

.modal-body-block-title {
    font-weight: 300;
    color: white;
}

.modal-body-block-content {
    font-weight: 100;
    font-size: 0.85rem;
    line-height: 1.5;
}

.modal-body-block-content a {
    color: white;
}

.modal-body-title-container {
    /* PROFILE */
    display: flex;
    justify-content: space-between;
}

.modal-body-title-title {
    /* PROFILE */
    width: 80%;
    color: white;
}

.modal-body-title-icons {
    /* PROFILE */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4rem;
    font-size: 2rem;
    /*margin-left: 5em;*/
    color: black;
}

.modal-body-title-icons a {
    color: #978eff;
}

.profile-details {
    /* PROFILE */
    /*display: inline-grid;*/
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.profile-input-wrapper {
    display: flex;
}

.profile-input-wrapper label {
    width: 30%;
    color: white;
    text-transform: uppercase;
}

.profile-input-wrapper input[type=text],
.profile-input-wrapper input[type=url] {
    margin-bottom: 1em;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 60%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: white;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgrey;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: lightgrey;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgrey;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: lightgrey;
}

.profile-language {
    /* PROFILE */
    margin-bottom: 2em;
    /*float: right;*/
}

.profile-logout {
    transition: color ease 0.3s;
    color: white;
}

.profile-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.profile-add-details {
    text-transform: uppercase;
    padding: 5px 0px;
    margin-top: 25px;
    border-radius: 50px;
    /*border: none;*/
    border: 2px solid white;
    outline: none;
    color: white;
    /*background-color: lightblue;*/
    /*background-color: #978eff;*/
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    width: 50%;
    transition: all ease 0.3s;
}

.profile-save-details {
    /* PROFILE MIKEY */
    padding: 5px 0px;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 50px;
    /*border: none;*/
    border: 2px solid white;
    outline: none;
    color: white;
    /*background-color: lightblue;*/
    /*background-color: #978eff;*/
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    width: 50%;
    transition: all ease 0.3s;
}

.english {
    /* PROFILE MIKEY */
    /*float: right;*/
    /*margin-right: 10px;*/
    margin-left: 0.75rem;
}

/* -------- Profile modal hover effects -------- */

.profile-save-details:hover,
.profile-add-details:hover {
    /* PROFILE MIKEY */
    background-color: white;
    color: #232323;
}

.profile-logout:hover {
    /* PROFILE MIKEY */
    color: #e17474;
}