.terminal {
    font-weight: 300;
    font-size: 1.8rem;
}

#window-name {
    font-size: 1.5rem;
}

.modal-info-creators {        
    font-size: 1.4rem;
}

.modal-info-links {
    font-size: 1.2rem;
}