/*
---------
VARIABLE
---------
*/

// Fonts Family

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoMono: 'Roboto Mono', monospace;
$fontVerdana: 'verdana';

// Background Fog Colors && First Color Charte

$backgroundColor1: rgb(255, 157, 0); // <== base color / ref color
$backgroundColor2: rgb(167, 109, 17);
$backgroundColor3: #c79334;
$backgroundColor4: #ff6600;
$backgroundColor5: #8d1313;
$backgroundColor6: rgb(148, 51, 51);

$bodyColor: rgb(230, 221, 221); // base fontColor for the body

// loading page - call to action

$fontColorCallToAction: rgb(10, 1, 1);
$backgroundCallToAction: #cf1313;
$backgroundCallToAction2: white;
$backgroundCallToActionHover: #ff6b6b; 
$backgroundLogoCallToAction: rgb(252, 5, 5); // <== background color logo google

// Interface

$fontColorDateTime: rgba(54, 14, 14, 0.9); 
$fontColorMenuTheme: rgba(98, 3, 3, 0.9);

$colorWelcomeMessage: $bodyColor;
$colorWelcomeMessageHover: rgb(161, 18, 18);
$fontSizeWelcomeMessage: 25px;

// Terminal

$fontColorDorothyAnswer: #fafafa; 

// Modal

$fontColorModal: rgb(247, 247, 247); // Global font color for modal

$fontColorModalCreators: rgb(255, 255, 255); 
$colorBoxShadowModal: rgb(93, 13, 13);
$underlineProfileInput: 1px solid rgb(255, 5, 5);

$logoutButton: $fontColorModal;
$logoutButtonHover: #ffffff;
$fontColorTooltip: $fontColorModal;
$backgroundColorTooltip: rgb(161, 4, 4);

$borderStyleModal: 2px solid $fontColorModal; // "Save" button
$colorSaveButton: $fontColorModal;
$colorSaveButtonHover: #ff0000;
$backgroundSaveButtonHover: $fontColorModal;


// Ball Menu

$colorBall1: #e78e8e; 
$colorBall2: #850505; 
$colorBallHover1: #612b2b; 
$collorBallHover2: #ce0707; 

$backgroundBallItem: rgba(255, 6, 6, 0.425); // Ball Menu - Icones Periph 
$backgroundBallItemHover: #a05e5e;
$borderColorBallItem: white;
$colorLogoBallItem: white;
$unavailableBallCalendar: lightgrey;

/*MIXINS*/ 


@mixin fontStyle ($color, $size, $familly) { 
    color: $color;
    font-size: $size;
    font-family: $familly;
}

/*
-----------------------------------------------
KEYFRAMES FOR CURSOR ANIMATION
-----------------------------------------------
*/

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
-----------------------------------------------
MEDIA QUERIES
-----------------------------------------------
*/

@media only screen and (max-width: 700px) {
    /* make welcome message on login page smaller */
    #login-interface .welcome {
        font-size: 1.6rem;
    }
    /* make width of welcome message bigger */
    .welcome-message-style {
        width: 80%;
    }
    /* make width of terminal bigger and font-size a bit smaller */
    .terminal {
        width: 90%;
        font-size: 0.9rem;
    }
    /* make width of modal bigger and height a bit smaller */
    #profilePage {
        width: 90%;
        height: 70%;
    }
    /**/
    .modal-body-2 {
        padding: 0 20px;
    }
    /* reduce input text font-size */
    .profile-input-wrapper input[type=text] {
        font-size: 0.8rem;
    }
    /* reduce label text font-size */
    .profile-input-wrapper label {
        font-size: 0.8rem;
    }
    /* make width of info modal bigger and padding right/left smaller */
    #infoPage {
        width: 60%;
        padding: 2rem 0.6rem;
    }
    /* make title in info modal bigger */
    .modal-info-title {
        font-size: 1.5rem;
    }
    /* hide date and time */
    .os-bar__date-time {
        display: none;
    }
    /**/
}